* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

html {
    background-color: #00c1b5;
    transition: background-color 0.3s ease;
}

a {
    text-decoration: none;
}

p {
    color: black;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

header {
    position: fixed;
    left: 15px;
    top: 20px;
}

header img {
    width: 260px;
    height: auto;
}

.mailto {
    position: fixed;
    right: 15px;
    top: 20px;
}

.mailto a {
    color: black;
    font-size: 18px;
    font-weight: bold;
}

main {
    height: 100vh;
    overflow: scroll;
    scroll-snap-type: y mandatory;
}

main::-webkit-scrollbar {
    width: 0;
    height: 0;
}

main img {
    width: 420px;
}

.nav_bar {
    position: fixed;
    right: 15px;
    bottom: 20px;
    font-size: 18px;
    line-height: 1.6;
}

.nav_bar li {
    color: black;
    list-style: none;
}

.nav_bar a {
    color: black;
}

.nav_bar li.selected {
    font-weight: bold;
}

section {
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
    scroll-snap-align: start;
}

.buy_links {
    margin-top: 20px;
}

.buy_links a {
    color: white;
    font-size: 15px;
    line-height: 22px;  
}

.selected_stores_links {
    font-size: 15px;
    line-height: 22px;
    margin-top: 20px;
}

.selected_stores_links a {
    color: white;
}

footer {
    position: fixed;
    bottom: 20px;
    left: 22px;
    width: 320px;
    margin-top: 0;
    line-height: 25px;
}

footer p.about {
    margin: 0;
}

footer a {
    text-decoration: underline;
    color: black;
}

footer a:hover {
    text-decoration: none;
}

.published {
    font-size: 12px;
    font-weight: normal;
    margin-top: 5px;
}

.privacy {
    margin-top: 20px;
}

@media(max-width: 1020px) {
    html {
        background-color: fuchsia;
    }

    header {
        position: absolute;
    }

    .mailto {
        position: relative;
        text-align: center;
        right: 0;
        top: 0;
        padding: 50px;
    }

    main {
        height: auto;
        overflow: none;
    }

    section {
        padding-top: 35px;
    }

    .nav_bar {
    display: none;    
    }

    footer {
        position: relative;
        text-align: center;
        padding-top: 30px;
        padding-left: 5%;
        padding-right: 5%;
        bottom: 0;
        left: 0;
        width: 90%;
        margin: 0;
    }
    
}

@media(max-width: 765px) {
    html {
        background-color: fuchsia;
    }
    
    header {
        position: absolute
    }

    header img {
        width: 160px;
    }

    .mailto {
        position: relative;
        text-align: center;
        right: 0;
        top: 0;
        padding: 50px;
    }

    footer {
        position: relative;
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
        bottom: 0;
        left: 0;
        width: 90%;
        margin: 0;
    }

}

